/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
img {
  height: 250px;
}
.hidden {
  display: none;
}
.lookLeft {
  transform: scaleX(-1);
}
.smallImg {
  height: auto;
}

/******************************************
/* LAYOUT
/*******************************************/

.container {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;

}
.container div {
  flex-basis: 33.33%;
  padding-top: 30%;
}
button {
  background-color: rgba(255, 0, 0, 0.185);
  font-size: 3rem;
  border: none;
  border-radius: 5%;
  cursor: pointer;
}
body {
  background-image: url("../img/theatreHallway.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
